environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=1.17.0'

name: adaptilearn_africa
description: AdaptiLearn Africa - Uganda Primary English Assessment
version: 1.0.0+1

flutter:
  uses-material-design: true
  
  assets:
    - assets/branding/ala_logo.png
    - assets/branding/ala_app_icon.png

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2
  dev_dependencies:
  flutter_launcher_icons: "^0.14.4"

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/icon/icon.png"
  min_sdk_android: 21
  web:
    generate: true
    image_path: "assets/icon/icon.png"
    background_color: "#0175C2"  # Example blue color
    theme_color: "#0175C2"
  windows:
    generate: true
    image_path: "assets/icon/icon.png"
    icon_size: 256
  macos:
    generate: true
    image_path: "assets/icon/icon.png"

