environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=1.17.0'

name: adaptilearn_africa
description: AdaptiLearn Africa - Uganda Primary English Assessment
version: 1.0.0+1

flutter:
  uses-material-design: true
  
  assets:
    - assets/branding/ala_logo.png
    - assets/branding/ala_app_icon.png

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2
